# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
.conda/

# IDE
.vscode/
.idea/

# MRI / dataset files
data/
datasets/
Pre_processed/
pre_processed/

# Model files
*.pt
*.pth
*.ckpt

# Logs
*.log

# OS
.DS_Store
Thumbs.db